/* headers */

h1 {
    font-family: 'Oleo Script Swash Caps', 'Georgia', Times, serif;
    font-size: 35px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Josefin Sans', 'Montserrat', Times, serif;
    font-size: 20px;
    color: #0b4199;
    margin-top: 3px;
}

p {
    font-family: 'Josefin Sans', 'Montserrat', 'Century Gothic Pro', sans-serif;
    margin-top: 0;
}

/* list styles */
ul {
    list-style-type: none;
    padding-left: 0px;  
    font-family: 'Josefin Sans', 'Montserrat', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    display: inline-block;
}
   
a:link {        /* a normal, unvisited link */
    color: #5796ff;
}              
a:visited {     /* a link the user has visited */
    color: #5796ff;
}          
a:hover {       /* a link when the user mouses over it */
    color: #1761cc;
}           
a:active {      /* a link the moment it is clicked */
    color: #1761cc;
    font-weight: bolder;
}          
