/* header styles */
h1 {
    color: red; /* can also be written as color: rgb(##, ##, ##); */
}

/* list styles */
ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    display: inline-block;
    margin-right: 50px;
    margin-left: 20px;
}

/* anchors and links */
a {
    font-size: 30px;
}