li {
    display: inline-block;
    font-family: 'Libre Baskerville', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 5%;
}

ul {
    text-align: right;
    margin-top: 10px;
    background-color: hotpink;
}

body {
    width: 80%;
    margin: auto;
    background-color: pink;
}