li {
    display: inline-block;
    font-family: 'Libre Baskerville', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 5%;
}

ul {
    text-align: right;
    margin-top: 10px;
    background-color: hotpink;
}

main {
    width: 960px;
    margin: auto;
    background-color: pink;
}

h1 {
    font-family: 'Libre Baskerville';
}

h2 {
    font-family: 'Libre Baskerville';
}

p {
    font-family: 'Libre Baskerville';
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.column-half {
    float: left;
    width: 50%;
}

.column-half:nth-child(even) {
    background-color: teal;
}

.clearfix {
    clear: both;
}

.blogPost {
    margin-bottom: 20px;
}

.imgContainer {
    height: 470px;
    width: 470;
    background-size: cover;
    background-position: center;
    margin: auto;
    /* background-image: url("https://static1.squarespace.com/static/5b5f4a70a9e028608eaf20cb/t/5b84bf2e898583173cc87acc/1535426418975/St+Margaret%27s+Center+facility+photo.jpg") */
}

.blurbContainer {
    height: 50px;
    width: 470;
    /* background-color: red; */
    margin: auto;
    background-image: linear-gradient(blue, purple);
}