/* Semicolons are supposed to close a line for a CSS parameter,
not separate the HTML elements
Compare to typography.css 
To visualize it better it helps to break them up,
line by line.
*/

html {
    background-color: #e0ffb7;
} 

header {
    background-color: white;
}

/* Since we started with the 1st genereation of body,
i.e. header and main, we should continue on the same level,
meaning use main instead of an article 
*/
/* article { */
main {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 1000px;
}

h1 {
    background-color: white;
    margin-bottom: 0px;
}

body {
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 20px;
}

.imgholder {
    margin: 0 auto;
}

.bluebox {
    background-color: blue;
    margin-top: 20px;
    height: 200px;
    width: 770px;
    position: fixed;
}

.redbox {
    background-color: red;
    margin-top: 240px;
    height: 200px;
    width: 450px;
    position: fixed;
}

.turbox {
    background-color: #31c2ee;
    margin-top: 240px;
    margin-left: 470px;
    height: 200px;
    width: 300px;
    position: fixed;
}

.yelbox {
    background-color: yellow;
    margin-top: 20px;
    margin-left: 790px;
    height: 420px;
    width: 205px;
    position: fixed;
}

.redthing {
    background-color: red;
    margin-top: 20px;
    margin-left: 20px;
    height: 300px;
    width: 50px;
    position: relative;
}

.turthing {
    background-color: #31c2ee;
    margin-left: 20px;
    margin-top: 20px;
    height: 60px;
    width: 165px;
    position: relative;
}



@media only screen and (max-width: 768px) {
    main {
        column-count: 2;
        font-family: 'Indie Flower';font-size: 22px;
    }
}