/* header styles */
header {
    font-family: 'Century Gothic Pro';
}

h1 {
    color: #663322; /* can also be written as color: rgb(##, ##, ##); */
    font-family: 'Pacifico';
    font-size: 40px;
}

p {
    font-family: 'Century Gothic Pro';
    position: absolute;
    background-color: yellow;
    margin-left: 20px;
}

p::first-letter { 
    font-size: 200%;
    font-family: 'Pacifico';
    color: #8A2BE2;
}

/* list styles */
ul {
    list-style-type: none;
    padding-left: 0px;   
}

li {
    display: inline-block;
    margin-right: 50px;
    margin-left: 20px;
}


/* anchors and links */
a {
    font-size: 20px;
}